{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row about">
        <div class="col-md-4">
            <!-- Displaying profile photo -->
            {% if user.profile_pic_path %}
                <img src="{{url_for('static',filename = user.profile_pic_path)}}" alt="" class="img-thumbnail">
            {% else %}
                <p>No Profile Picture</p>
            {% endif %}
            <p class="small"> {{user.username|capitalize}} </p>
            {% if user == current_user %}
            <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" class="form-control" required>
                <input type="submit">
            </form>
            {% endif %}
        </div>
        <div class="col-md-8">
            <!-- Displaying user bio -->
            <h3>Bio</h3>
            <hr>
            {% if user.bio %}
                <p> {{user.bio}} </p>
            {% else %}
                <p>{{user.username|capitalize}} has no bio</p>
            {% endif %}
            {% if user == current_user %}
            <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit Bio</a>
            <br>
            {% endif %}
            <br>
            <h3>Stats</h3>
            <hr>
            <p> Pitches: {{pitches_no|length}} </p>
            <p> Comments: {{comments_no|length}} </p>
            <p> Pitches Liked: {{likes_no|length}} </p>
            <p> Pitches Disliked: {{dislike_no|length}} </p>
        </div>
    </div>
</div>
{% endblock %}